{% extends "students/base.html" %}
{% block title %}Add Emergency Contact | GU Dorms{% endblock %}
{% block page_title %}Add Emergency Contact{% endblock %}
{% block content %}
<section class="form-card">
    <form method="post" class="stack-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <label>
                <span>{{ field.label }}</span>
                {{ field }}
                {{ field.errors }}
            </label>
        {% endfor %}
        <button class="primary-button" type="submit">Save contact</button>
    </form>
</section>
{% endblock %}
